@font-face {
  font-family: "Bebas";
  src: url("bebas.eot?#iefix");
  src: url("bebas.eot?#iefix") format("eot"), url("bebas.woff2") format("woff2"), url("bebas.woff") format("woff"), url("bebas.ttf") format("truetype"); }
