@model SubscriptionActivationModel
@using Nop.Web.Models.Newsletter;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-newsletter-page");
    Html.AddCssFileParts("~/Themes/Ipharmachine/Content/css/pages/articleDetails.css");
}

<div class="article-details">
    <h1 class="topic-title">@T("Newsletter.Title")</h1>
</div>
<div class="article-content container">
    <div class="article-body">
        <strong>
            @Model.Result
        </strong>
    </div>
</div>

