@charset "UTF-8";
/*
 *  b- 为background
 *  c- 为color
 *  bo- 为border-color
 *  r- 为  rotate
 *  br- 为 border-radius
 *  bx- 为 box-shadow
 *  mb- 为 margin-bottom
 *  fs- 为 font-size
 * */
/*
 * login
 * register
 * giveme
 * my系列
 * l-s
 */
/*$ribbon-bckaground-color: rgba(231, 76, 60, 1);
$ribbon-color: #fff;
$ribbon-line-height: 2.4;

$ribbon-padding: 0 1.6em;
$item-ribbon-line-height: 30px;
$item-ribbon-w: $item-ribbon-line-height * 4;*/
.account-number .account-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1; }
  @media (max-width: 991px) {
    .account-number .account-title {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .account-number .account-title {
      font-size: 20px; } }

@media (max-width: 991px) {
  .account-number .row {
    margin: 0 -10px; } }

.account-number .mycol {
  padding: 5px;
  text-align: center; }

.account-number .box-title {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0; }
  @media (max-width: 767px) {
    .account-number .box-title {
      font-size: 18px; } }

.account-number .form-container {
  background-color: #fff;
  padding: 30px 0 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

@media (max-width: 767px) {
  .account-number .form-group {
    padding: 0 8px; } }

.account-number .form-group .control-label {
  font-size: 14px; }

.account-number .form-group .radio-inner {
  font-size: 14px;
  text-align: left; }
  @media (max-width: 767px) {
    .account-number .form-group .radio-inner {
      text-align: center; } }

.account-number .form-group .checkbox {
  font-size: 14px; }

.account-number .form-group .inputs {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .account-number .form-group .inputs:focus {
    outline: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .account-number .form-group .inputs {
      text-align: center; } }

.account-number .form-group .selects {
  width: 30%;
  display: inline-block;
  float: left; }
  .account-number .form-group .selects + .selects {
    margin-left: 5%; }

.account-number .form-group input[type="checkbox"] {
  margin-left: 0; }

.account-number .buttons {
  min-width: 140px;
  padding: 0 20px;
  height: 35px;
  line-height: 17px;
  display: block;
  margin: 20px auto;
  background-color: #21a5ae;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px; }
  .account-number .buttons:hover {
    background-color: rgba(33, 165, 174, 0.7); }

.account-number .error, .account-number .required {
  color: #ea4334;
  text-align: center; }

.account-number .border-error {
  border: 1px solid #ea4334; }

.textarea {
  min-height: 150px; }

.result {
  font-size: 14px;
  text-align: center;
  margin: 0 auto 10px 0;
  line-height: 2em; }

.mains {
  border: 1px solid; }
  .mains .contact-us {
    border: 1px solid red;
    width: 100%;
    height: 300px; }
    .mains .contact-us .left {
      display: inline-block;
      float: left; }
      .mains .contact-us .left .bg-img {
        width: 100%;
        height: 80px;
        background: url(../../images/contactus/contactup-bg.png) no-repeat 20%; }
    .mains .contact-us .right {
      display: inline-block;
      float: right;
      background: url(../../images/contactus/bg.png) no-repeat right; }
  .mains .skyper-us {
    background-color: #F7F7F7;
    width: 100%;
    height: 700px;
    border: 1px solid green; }
  .mains .find-me {
    border: 1px solid blue;
    width: 100%;
    height: 333px;
    background: url(../../images/contactus/map.png) no-repeat center; }

/**
    ����Ļ(����):>1200px
*/
.container-fluid {
  /*��*/
  /*��*/
  /*��*/ }
  .container-fluid .result {
    margin: 0; }
  .container-fluid .shang {
    background: url(../../images/contactus/1920/nipic_bg.png) no-repeat;
    background-color: white;
    background-position: top right;
    background-size: 63% auto;
    /*����*/
    /*����*/ }
    .container-fluid .shang .left-contact {
      margin-bottom: 117px; }
      .container-fluid .shang .left-contact .contact-top {
        padding-top: 39px;
        text-align: right; }
        .container-fluid .shang .left-contact .contact-top .p1 {
          /*height: 40px;*/
          font-size: 25px;
          font-family: Bebas;
          font-weight: bold;
          color: #21a5ae;
          word-spacing: 4px; }
        .container-fluid .shang .left-contact .contact-top .p2 {
          /*height: 60px;*/
          font-size: 40px;
          font-family: Bebas;
          font-weight: 400;
          color: #3e3e3e;
          word-spacing: 4px; }
        .container-fluid .shang .left-contact .contact-top .p3 {
          width: 380px;
          font-size: 15px;
          font-family: BastardusSans;
          font-weight: 400;
          color: #535353;
          word-spacing: 4px;
          padding-bottom: 13px; }
      .container-fluid .shang .left-contact .form-container {
        border: 1px solid #21A5AE;
        border-radius: 14px;
        position: relative;
        padding: 0 0 40px 0; }
        .container-fluid .shang .left-contact .form-container .form-group {
          margin: 10px 0 0 0;
          position: relative; }
          .container-fluid .shang .left-contact .form-container .form-group .form-control {
            -webkit-box-shadow: unset;
            box-shadow: unset; }
          .container-fluid .shang .left-contact .form-container .form-group .fullname {
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 15px; }
          .container-fluid .shang .left-contact .form-container .form-group .fullname-input {
            margin: 0 auto;
            padding-left: 50px;
            text-align: center; }
          .container-fluid .shang .left-contact .form-container .form-group .youxiang {
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 15px; }
          .container-fluid .shang .left-contact .form-container .form-group .youxiang-input {
            margin: 0 auto;
            padding-left: 95px;
            text-align: center; }
          .container-fluid .shang .left-contact .form-container .form-group .enquiry {
            position: absolute;
            z-index: 1;
            top: 2px;
            left: 15px; }
          .container-fluid .shang .left-contact .form-container .form-group .enquiry-input {
            margin: 0 auto;
            padding-left: 60px;
            text-align: center; }
        .container-fluid .shang .left-contact .form-container input, .container-fluid .shang .left-contact .form-container textarea {
          border-top: none;
          border-left: none;
          border-right: none;
          width: 90%;
          border-color: #21A5AE; }
        .container-fluid .shang .left-contact .form-container .tipfont {
          color: #21A5AE; }
      .container-fluid .shang .left-contact .lianxifangshi > ul {
        list-style: none;
        float: unset;
        padding-inline-start: 0; }
      .container-fluid .shang .left-contact .lianxifangshi li {
        width: 371px;
        height: 34px;
        margin-bottom: 33px;
        text-align: justify;
        /*��ǩ*/ }
        .container-fluid .shang .left-contact .lianxifangshi li .mg-right {
          /*margin-right: 90px;*/
          margin-right: 40px; }
        .container-fluid .shang .left-contact .lianxifangshi li .inline-block {
          display: inline-block; }
          .container-fluid .shang .left-contact .lianxifangshi li .inline-block .sHeight {
            height: 34px; }
          .container-fluid .shang .left-contact .lianxifangshi li .inline-block .textcolor-top {
            color: #C2C2C2; }
          .container-fluid .shang .left-contact .lianxifangshi li .inline-block .textcolor-bottom {
            color: #21A5AE; }
          .container-fluid .shang .left-contact .lianxifangshi li .inline-block .font-align {
            /*font-size: 12px;*/
            font-size: 15px;
            text-align: left; }
      .container-fluid .shang .left-contact .account-box-container {
        clear: both;
        width: 380px;
        text-align: right; }
      .container-fluid .shang .left-contact .sumitButton {
        height: 20px;
        line-height: 10px;
        border-radius: 9px;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: -12px; }
      .container-fluid .shang .left-contact .sumitButton:hover {
        background-color: #21a5ae; }
      .container-fluid .shang .left-contact .col-right::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        border-right: 2px solid #0f0;
        border-bottom: 2px solid #0f0;
        transform: rotate(-45deg);
        top: 40px;
        right: 40px; }
    .container-fluid .shang .right-contact {
      background: url(../../images/contactus/bg.png) no-repeat 50% 50%; }
  .container-fluid h2 {
    display: none; }
  .container-fluid .zhong .mg-top-bottom {
    margin-top: 53px;
    margin-bottom: 33px; }
    .container-fluid .zhong .mg-top-bottom .p1 {
      /*height: 40px;*/
      font-size: 25px;
      font-family: Bebas;
      font-weight: bold;
      color: #21a5ae;
      word-spacing: 4px; }
    .container-fluid .zhong .mg-top-bottom .p2 {
      /*height: 60px;*/
      font-size: 40px;
      font-family: Bebas;
      font-weight: 400;
      color: #3e3e3e;
      word-spacing: 4px; }
    .container-fluid .zhong .mg-top-bottom .p3 {
      font-size: 15px;
      font-family: BastardusSans;
      font-weight: 400;
      color: #535353;
      word-spacing: 4px; }
  .container-fluid .zhong .box-item {
    overflow: hidden;
    border-radius: 2px; }
    .container-fluid .zhong .box-item .item-pic {
      margin-bottom: 5px;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 230px;
      display: block;
      border-radius: 50%; }
    .container-fluid .zhong .box-item .item-inner {
      text-align: center;
      margin-bottom: 5px;
      line-height: 20px;
      padding-right: 60px; }
    .container-fluid .zhong .box-item .item-ribbon {
      background-color: #21A5AE;
      border-radius: 0 0 100px 100px;
      width: 60%;
      transform: translate(0, 0) rotate(0);
      top: unset;
      bottom: 2px;
      left: 35px; }
    .container-fluid .zhong .box-item .item-label {
      background-color: #21A5AE;
      width: 83px;
      margin-bottom: 9px;
      border-radius: 7px;
      height: 22px;
      line-height: 22px; }
      .container-fluid .zhong .box-item .item-label .item-text {
        display: inline-block;
        color: #fff;
        font-size: 14px; }
    .container-fluid .zhong .box-item .item-contact .top-menu {
      list-style: none;
      padding-inline-start: 0;
      margin-block-start: 0;
      text-align: left; }
      .container-fluid .zhong .box-item .item-contact .top-menu li {
        padding: 7px 80px 7px 0px;
        font-size: 14px; }
        .container-fluid .zhong .box-item .item-contact .top-menu li .aligement {
          vertical-align: super; }
        .container-fluid .zhong .box-item .item-contact .top-menu li .show480 {
          display: none; }
        .container-fluid .zhong .box-item .item-contact .top-menu li a {
          color: #535353; }
  .container-fluid .xia {
    background: url(../../images/contactus/1920/map.png) no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-color: white; }
    .container-fluid .xia .row {
      margin-bottom: 40px; }
    .container-fluid .xia .findme {
      margin-top: 32px;
      display: flex; }
      .container-fluid .xia .findme p {
        height: 36px;
        font-size: 40px;
        font-family: Bebas;
        font-weight: 400;
        color: #3e3e3e;
        word-spacing: 4px; }
    .container-fluid .xia .contactinformation .country {
      display: inline-block;
      vertical-align: text-bottom;
      margin-left: -140px;
      margin-top: 60px; }
    .container-fluid .xia .contactinformation > ul {
      list-style: none;
      display: inline-block;
      text-align: left;
      /*vertical-align: text-bottom;*/
      margin-bottom: 20px; }
    .container-fluid .xia .contactinformation li .text-aligement {
      vertical-align: super;
      padding-left: 2px; }
    .container-fluid .xia .contactinformation li .chinatext {
      font-size: 25px;
      font-family: Bebas;
      font-weight: 400;
      color: #454646;
      word-spacing: 4px; }
    .container-fluid .xia .contactinformation li .ustext {
      height: 24px;
      font-size: 25px;
      font-family: Bebas;
      font-weight: 400;
      color: #454646;
      word-spacing: 4px; }
  .container-fluid .main {
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    float: none; }

/**
    480,�ֻ�ƥ����ʽ
*/
@media only screen and (max-width: 480px) {
  .account-number .row {
    margin: 0 -5px 0 -5px; }
  .container-fluid .main {
    padding: 0;
    width: 100%;
    margin: 0; }
  .container-fluid .shang {
    background: url(../../images/contactus/1920/phone.png) no-repeat;
    background-size: auto;
    background-position: top right;
    background-color: white; }
    .container-fluid .shang .xs-hide {
      display: none; }
    .container-fluid .shang .mycol {
      width: 100% !important; }
    .container-fluid .shang .left-contact {
      height: auto !important;
      margin-bottom: 20px; }
      .container-fluid .shang .left-contact .contact-top {
        margin-top: 0.16rem;
        padding: 0 0 0 0.34rem; }
        .container-fluid .shang .left-contact .contact-top p {
          margin-bottom: 0; }
        .container-fluid .shang .left-contact .contact-top .p1 {
          height: 0.38rem;
          font-size: 0.2rem;
          font-family: Bebas;
          font-weight: bold;
          color: #21a5ae; }
        .container-fluid .shang .left-contact .contact-top .p2 {
          height: 0.68rem;
          font-size: 0.46rem;
          font-family: Bebas;
          font-weight: 400;
          color: #3e3e3e; }
        .container-fluid .shang .left-contact .contact-top .p3 {
          width: 50%;
          height: 1.12rem;
          font-size: 0.22rem;
          font-family: BastardusSans;
          font-weight: 400;
          color: #535353;
          word-spacing: unset; }
      .container-fluid .shang .left-contact .lianxifangshi {
        padding-left: 0.34rem !important; }
        .container-fluid .shang .left-contact .lianxifangshi > ul {
          clear: both;
          margin-block-start: 0;
          margin-block-end: 0;
          padding-inline-start: 0; }
        .container-fluid .shang .left-contact .lianxifangshi li {
          height: unset;
          margin-bottom: unset; }
          .container-fluid .shang .left-contact .lianxifangshi li .font-align {
            font-size: 12px !important; }
          .container-fluid .shang .left-contact .lianxifangshi li .icon_contactus-shouji-banping:before, .container-fluid .shang .left-contact .lianxifangshi li .icon_contactus-youjian01:before, .container-fluid .shang .left-contact .lianxifangshi li .icon_contactus-dianhua02:before, .container-fluid .shang .left-contact .lianxifangshi li .icon_contactus-skype1:before {
            font-size: 20px; }
          .container-fluid .shang .left-contact .lianxifangshi li > div {
            display: block !important; }
      .container-fluid .shang .left-contact .account-box-container {
        width: 100%;
        padding: 0.2rem 0.36rem 0 0.36rem; }
      .container-fluid .shang .left-contact .sumitButton {
        width: 0.48rem !important;
        border-radius: 0.14rem !important; }
      .container-fluid .shang .left-contact input, .container-fluid .shang .left-contact textarea {
        width: 100%; }
      .container-fluid .shang .left-contact .form-container .form-group {
        position: relative; }
      .container-fluid .shang .left-contact .form-container .fullname, .container-fluid .shang .left-contact .form-container .youxiang, .container-fluid .shang .left-contact .form-container .enquiry {
        z-index: 1;
        position: absolute;
        top: 0.16rem !important;
        left: 0.3rem !important; }
  .container-fluid .zhong .mg-top-bottom {
    margin: 0.26rem 0 0.24rem 0.1rem; }
    .container-fluid .zhong .mg-top-bottom p {
      margin: 0; }
    .container-fluid .zhong .mg-top-bottom .p1 {
      font-size: 0.28rem; }
    .container-fluid .zhong .mg-top-bottom .p2 {
      font-size: 0.46rem; }
    .container-fluid .zhong .mg-top-bottom .p3 {
      font-size: 0.22rem;
      word-spacing: unset;
      margin-bottom: 0; }
  .container-fluid .zhong .box-item .item-pic {
    padding-bottom: 2.36rem; }
    .container-fluid .zhong .box-item .item-pic .img-responsive {
      width: 118px;
      height: 118px;
      display: inline-block; }
    .container-fluid .zhong .box-item .item-pic div {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-fluid .zhong .box-item .item-pic div img {
        width: 2.36rem;
        height: 2.36rem; }
  .container-fluid .zhong .box-item .item-inner {
    padding-right: 0px; }
    .container-fluid .zhong .box-item .item-inner p {
      text-align: unset; }
  .container-fluid .zhong .box-item .item-label {
    background-color: #21A5AE;
    width: 1.2rem;
    margin-bottom: 0px;
    border-radius: 0.14rem;
    margin: 0 auto; }
  .container-fluid .zhong .box-item .item-contact .top-menu {
    padding-left: 0.2rem !important; }
    .container-fluid .zhong .box-item .item-contact .top-menu li {
      padding: 0.14rem 0px 0.14rem 0px;
      margin-bottom: -0.20rem; }
      .container-fluid .zhong .box-item .item-contact .top-menu li .aligement {
        vertical-align: unset; }
      .container-fluid .zhong .box-item .item-contact .top-menu li .icon_contactus-network {
        display: none; }
      .container-fluid .zhong .box-item .item-contact .top-menu li .icon_contactus-youjian03 {
        display: none; }
      .container-fluid .zhong .box-item .item-contact .top-menu li .hide-icon {
        display: none; }
      .container-fluid .zhong .box-item .item-contact .top-menu li .show480 {
        display: inline-block; }
  .container-fluid .xia {
    height: auto;
    margin: 0 -5px 0 -5px; }
    .container-fluid .xia .row {
      margin: 0 0 0.20rem 0; }
      .container-fluid .xia .row .mycol {
        padding: 0;
        padding-left: 0.20rem; }
        .container-fluid .xia .row .mycol .row {
          margin-left: 0 !important;
          margin-right: 0 !important; }
          .container-fluid .xia .row .mycol .row .mycol {
            margin-left: 0; }
        .container-fluid .xia .row .mycol .contactinformation .country {
          float: left;
          padding-bottom: 0.48rem;
          display: inline-block;
          vertical-align: text-bottom;
          margin: 0.30rem 0 0 0; }
          .container-fluid .xia .row .mycol .contactinformation .country img {
            width: 0.88rem;
            height: 0.88rem; }
        .container-fluid .xia .row .mycol .contactinformation > ul {
          padding-inline-start: 0;
          margin-block-start: 0;
          margin-block-end: 0; }
          .container-fluid .xia .row .mycol .contactinformation > ul .contact-hide {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .container-fluid .xia .row .mycol .contactinformation li .text-aligement {
          vertical-align: text-bottom;
          padding-left: 2px; }
        .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-youjian-blue:before, .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-youjian-red:before, .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-dianhua-blue:before, .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-dianhua-red:before, .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-weizhi-red:before, .container-fluid .xia .row .mycol .contactinformation li .icon_contactus-weizhi-blue:before {
          font-size: 15px; }
        .container-fluid .xia .row .mycol .contactinformation li .ustext {
          font-size: 0.22rem;
          font-family: Bebas;
          font-weight: 400;
          color: #454646;
          height: 0.18rem; }
        .container-fluid .xia .row .mycol .contactinformation li .chinatext {
          height: 0.54rem;
          font-size: 0.22rem;
          font-family: Bebas;
          font-weight: 400;
          color: #454646; }
        .container-fluid .xia .row .mycol .contactinformation li img {
          width: 5.26rem;
          height: auto; }
    .container-fluid .xia .findme {
      margin-top: 0.12rem;
      margin-left: 0.20rem; }
      .container-fluid .xia .findme p {
        height: 0.7rem;
        font-size: 0.46rem;
        font-family: Bebas;
        font-weight: 400;
        color: #3e3e3e; } }

/**
    ��С��Ļ(�ֻ�):480-768px 
*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .container-fluid .main {
    margin: 0 auto !important;
    padding: 0;
    width: 720px !important;
    margin: 0px; }
  .container-fluid .shang {
    background-size: 57% auto; }
    .container-fluid .shang .left-contact {
      height: unset; }
      .container-fluid .shang .left-contact .contact-top {
        padding-top: 10px; }
        .container-fluid .shang .left-contact .contact-top .p1 {
          height: unset;
          font-size: 20px; }
        .container-fluid .shang .left-contact .contact-top .p2 {
          height: unset;
          font-size: 35px; }
        .container-fluid .shang .left-contact .contact-top .p3 {
          font-size: 10px;
          word-spacing: 0;
          width: 300px;
          padding-bottom: 10px; }
      .container-fluid .shang .left-contact .lianxifangshi > ul li {
        margin-bottom: 20px; }
        .container-fluid .shang .left-contact .lianxifangshi > ul li .font-align {
          font-size: 12px !important; }
        .container-fluid .shang .left-contact .lianxifangshi > ul li .mg-right {
          margin-right: 22px; }
      .container-fluid .shang .left-contact .account-box-container {
        width: unset;
        padding-bottom: 20px; }
      .container-fluid .shang .left-contact .form-container .form-group .fullname, .container-fluid .shang .left-contact .form-container .form-group .youxiang, .container-fluid .shang .left-contact .form-container .form-group .enquiry {
        top: 8px;
        left: 40px; }
  .container-fluid .zhong .mg-top-bottom {
    margin: 18px 0 11px 0; }
    .container-fluid .zhong .mg-top-bottom .p1 {
      font-size: 20px; }
    .container-fluid .zhong .mg-top-bottom .p2 {
      font-size: 35px; }
    .container-fluid .zhong .mg-top-bottom .p3 {
      font-size: 10px;
      word-spacing: 0; }
  .container-fluid .zhong .row {
    margin: 0 0; }
  .container-fluid .zhong .box-item .item-pic div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .container-fluid .zhong .box-item .item-inner {
    padding-right: 0; }
    .container-fluid .zhong .box-item .item-inner p {
      text-align: unset; }
  .container-fluid .zhong .box-item .item-label {
    margin: 0 auto; }
  .container-fluid .zhong .box-item .item-contact .top-menu {
    display: inline-block;
    margin: 0 auto; }
    .container-fluid .zhong .box-item .item-contact .top-menu li {
      padding: 7px 0 7px 0px; }
  .container-fluid .xia .findme {
    margin-top: 10px; }
    .container-fluid .xia .findme p {
      font-size: 35px; }
  .container-fluid .xia .row {
    margin: 0;
    margin-bottom: 20px; }
  .container-fluid .xia .contactinformation .country {
    margin: 20px 0 0 0; }
    .container-fluid .xia .contactinformation .country img {
      width: 100px;
      height: 100px; }
  .container-fluid .xia .contactinformation > ul li .ustext {
    font-size: 15px;
    height: 14px; }
  .container-fluid .xia .contactinformation > ul li .chinatext {
    font-size: 15px;
    height: 30px; } }

/**
    С��Ļ(ƽ��):768-992px
*/
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container-fluid .main {
    margin: 0 auto !important;
    padding: 0;
    width: 740px !important;
    margin: 0px; }
  .container-fluid .shang {
    background-size: 60% auto;
    margin: 0 -5px 0 -5px; }
    .container-fluid .shang .left-contact {
      height: unset;
      margin-bottom: 20px; }
      .container-fluid .shang .left-contact .contact-top {
        padding-top: 16px; }
        .container-fluid .shang .left-contact .contact-top .p1, .container-fluid .shang .left-contact .contact-top .p2 {
          margin-bottom: 0; }
        .container-fluid .shang .left-contact .contact-top .p3 {
          word-spacing: 0;
          margin-bottom: 0;
          padding-bottom: 12px; }
      .container-fluid .shang .left-contact .form-container .form-group .fullname, .container-fluid .shang .left-contact .form-container .form-group .youxiang, .container-fluid .shang .left-contact .form-container .form-group .enquiry {
        top: 0px; }
      .container-fluid .shang .left-contact .lianxifangshi > ul li {
        margin-bottom: 20px; }
        .container-fluid .shang .left-contact .lianxifangshi > ul li .font-align {
          font-size: 12px !important; }
        .container-fluid .shang .left-contact .lianxifangshi > ul li .icon_contactus-shouji-banping:before, .container-fluid .shang .left-contact .lianxifangshi > ul li .icon_contactus-youjian01:before, .container-fluid .shang .left-contact .lianxifangshi > ul li .icon_contactus-dianhua02:before, .container-fluid .shang .left-contact .lianxifangshi > ul li .icon_contactus-skype1:before {
          font-size: 20px; }
        .container-fluid .shang .left-contact .lianxifangshi > ul li .mg-right {
          margin-right: 45px; }
      .container-fluid .shang .left-contact .account-box-container {
        margin-bottom: 20px;
        padding-top: 20px; }
  .container-fluid .zhong .mg-top-bottom {
    margin: 16px 0 12px 0; }
  .container-fluid .zhong .row .box-item .item-pic {
    padding-bottom: 180px; }
  .container-fluid .zhong .row .box-item .item-contact > ul li {
    padding: 7px 0 7px 0px; }
    .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-network:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-youjian03:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-skype3:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-test:before {
      font-size: 20px; }
  .container-fluid .xia {
    margin: 0 -5px 0 -5px; }
    .container-fluid .xia .contactinformation > ul {
      margin-bottom: 0; }
    .container-fluid .xia .contactinformation li .icon_contactus-youjian-blue:before, .container-fluid .xia .contactinformation li .icon_contactus-youjian-red:before, .container-fluid .xia .contactinformation li .icon_contactus-dianhua-blue:before, .container-fluid .xia .contactinformation li .icon_contactus-dianhua-red:before, .container-fluid .xia .contactinformation li .icon_contactus-weizhi-red:before, .container-fluid .xia .contactinformation li .icon_contactus-weizhi-blue:before {
      font-size: 20px; }
    .container-fluid .xia .contactinformation li .text-aligement {
      vertical-align: text-bottom;
      padding-left: 2px; }
    .container-fluid .xia .findme {
      margin-top: 10px; } }

/**
    �е���Ļ(����):992-1300px
*/
@media only screen and (min-width: 992px) and (max-width: 1300px) {
  .container-fluid .main {
    margin: 0 auto !important;
    padding: 0;
    width: 980px !important;
    margin: 0px; }
  .container-fluid .shang {
    background-size: 60% auto; }
    .container-fluid .shang .mycol .left-contact {
      height: unset;
      margin-bottom: 0; }
      .container-fluid .shang .mycol .left-contact .contact-top {
        padding-top: 0.073rem; }
        .container-fluid .shang .mycol .left-contact .contact-top .p1 {
          font-size: 20px;
          margin: 0; }
        .container-fluid .shang .mycol .left-contact .contact-top .p2 {
          font-size: 35px;
          margin: 0; }
        .container-fluid .shang .mycol .left-contact .contact-top .p3 {
          font-size: 10px;
          word-spacing: 0;
          padding-bottom: 0; }
      .container-fluid .shang .mycol .left-contact .lianxifangshi > ul li {
        margin-bottom: 10px; }
        .container-fluid .shang .mycol .left-contact .lianxifangshi > ul li .mg-right {
          margin-right: 90px; }
        .container-fluid .shang .mycol .left-contact .lianxifangshi > ul li .font-align {
          font-size: 12px; }
      .container-fluid .shang .mycol .left-contact .account-box-container {
        margin-bottom: 20px; }
  .container-fluid .zhong .mg-top-bottom {
    margin: 27px 0 17px 0; }
    .container-fluid .zhong .mg-top-bottom .p1 {
      font-size: 20px; }
    .container-fluid .zhong .mg-top-bottom .p2 {
      font-size: 35px; }
    .container-fluid .zhong .mg-top-bottom .p3 {
      word-spacing: 0; }
  .container-fluid .zhong .row .box-item .item-contact > ul li {
    padding: 7px 0 7px 0px; }
    .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-network:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-youjian03:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-skype3:before, .container-fluid .zhong .row .box-item .item-contact > ul li .icon_contactus-test:before {
      font-size: 20px; }
  .container-fluid .xia .mycol .findme {
    margin-top: 20px; }
    .container-fluid .xia .mycol .findme p {
      font-size: 35px; }
  .container-fluid .xia .contactinformation > ul li .icon_contactus-youjian-blue:before, .container-fluid .xia .contactinformation > ul li .icon_contactus-youjian-red:before, .container-fluid .xia .contactinformation > ul li .icon_contactus-dianhua-blue:before, .container-fluid .xia .contactinformation > ul li .icon_contactus-dianhua-red:before, .container-fluid .xia .contactinformation > ul li .icon_contactus-weizhi-red:before, .container-fluid .xia .contactinformation > ul li .icon_contactus-weizhi-blue:before {
    font-size: 20px; }
  .container-fluid .xia .contactinformation > ul li .text-aligement {
    vertical-align: text-bottom;
    padding-left: 2px; }
  .container-fluid .xia .contactinformation > ul li .ustext, .container-fluid .xia .contactinformation > ul li .chinatext {
    font-size: 20px; } }
