@charset "UTF-8";
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .swiper-container:after, .swiper-container:before {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: -20px;
    width: 20px;
    height: 100%;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
    border-radius: 50%; }
  .swiper-container:after {
    top: 0;
    left: auto;
    right: -20px; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-prev0.svg");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-prev1.svg"); }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-prev2.svg"); }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-next0.svg");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-next1.svg"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-button-next2.svg"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-preloader.svg");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("/Themes/Ipharmachine/Content/img/swiper-preloader0.svg"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg); } }

/*
 *  b- 为background
 *  c- 为color
 *  bo- 为border-color
 *  r- 为  rotate
 *  br- 为 border-radius
 *  bx- 为 box-shadow
 *  mb- 为 margin-bottom
 *  fs- 为 font-size
 * */
/*
 * login
 * register
 * giveme
 * my系列
 * l-s
 */
/*$ribbon-bckaground-color: rgba(231, 76, 60, 1);
$ribbon-color: #fff;
$ribbon-line-height: 2.4;

$ribbon-padding: 0 1.6em;
$item-ribbon-line-height: 30px;
$item-ribbon-w: $item-ribbon-line-height * 4;*/
.advertise-wrapper {
  border: 2px solid #21a5ae;
  background-color: #21a5ae;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.advertise-placeholder {
  position: relative; }

.advertise-padding {
  padding: 0 0 10px; }
  .advertise-padding:last-child {
    padding: 0; }

.advertise-smail {
  text-align: center;
  font-size: 18px;
  padding: 8px 15px; }
  .advertise-smail .smail-title {
    margin-bottom: 0; }
  .advertise-smail .smail-text {
    font-size: 12px; }

.advertise-url img {
  width: 100%; }

.advertise-url .unloading {
  padding: 43.7%; }

.leftContactus .box-item {
  margin: 10px 0;
  border-radius: 5px;
  padding-bottom: 5px;
  border: 2px solid #21a5ae;
  background-color: #21a5ae;
  color: #fff; }

.leftContactus .item-inner {
  padding: 10px; }
  .leftContactus .item-inner h4 {
    text-align: center; }
  .leftContactus .item-inner p {
    margin: 0; }

.leftContactus .item-contact ul {
  list-style: none;
  padding-inline-start: 10px;
  margin: 0; }

.leftContactus .item-contact li {
  margin-bottom: 5px;
  height: 25px;
  line-height: 25px; }

.leftContactus .item-contact a {
  color: #fff; }

.leftContactus .item-contact .aligement {
  vertical-align: super; }

.leftContactus .langage-tag {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  background: #fff;
  color: #21a5ae;
  padding: 2px 8px;
  border-radius: 4px; }
  .leftContactus .langage-tag + .langage-tag {
    margin-left: 4px; }

.leftContactus .span-text {
  vertical-align: middle;
  padding-right: 5px; }

.leftContactus .account-box-container {
  border: 2px solid #21a5ae;
  border-radius: 5px;
  padding: 0 10px; }

.leftContactus h4 {
  text-align: center;
  color: #fff;
  background: #21a5ae;
  padding: 10px;
  margin: 0 -10px; }

.leftContactus .form-group {
  margin: 0 0 5px 0; }
  .leftContactus .form-group label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px; }
  .leftContactus .form-group div {
    width: 100%; }

.leftContactus .required {
  color: red; }

.leftContactus .textarea {
  max-width: 100%;
  height: 100px;
  min-height: 100px;
  max-height: 300px;
  resize: vertical; }

.leftContactus .field-validation-error {
  color: red;
  padding-top: 5px; }

.leftContactus input {
  text-align: center; }

.leftContactus .buttons {
  display: block;
  margin: 20px -10px 0;
  color: #fff;
  width: auto;
  border: none;
  border-top: 1px solid #fefefe; }
  .leftContactus .buttons input {
    background-color: #21a5ae;
    border: none;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 2em; }

@media (max-width: 767px) {
  .goods-products {
    text-align: center; } }

.goods-products .products-title {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding: 8px 0;
  border-bottom: 1px dashed #2d2f31;
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .goods-products .products-box-wrapper .row {
    margin: 0 -7px; } }

.goods-products .products-box-wrapper .mycol {
  padding: 2px; }
  @media (max-width: 768px) and (min-width: 530px) {
    .goods-products .products-box-wrapper .mycol {
      width: 252px;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); } }

.goods-products .products-box-wrapper .box-item {
  overflow: hidden;
  background-color: #e5e5e5;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 2px; }
  .goods-products .products-box-wrapper .box-item .item-pic {
    background: #fff;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    height: 0;
    background: #fff;
    padding-bottom: 100%;
    display: block; }
    .goods-products .products-box-wrapper .box-item .item-pic img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  .goods-products .products-box-wrapper .box-item .item-name {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    padding: 0 5px;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #505050; }
  .goods-products .products-box-wrapper .box-item .item-inner {
    text-align: center;
    margin-bottom: 5px;
    line-height: 20px; }
    .goods-products .products-box-wrapper .box-item .item-inner .old-price {
      font-size: 16px;
      color: #21a5ae;
      font-weight: 700;
      line-height: 20px; }
    .goods-products .products-box-wrapper .box-item .item-inner .actual-price {
      font-size: 12px;
      color: #ea4334;
      line-height: 20px; }
    .goods-products .products-box-wrapper .box-item .item-inner .actual .old-price {
      font-size: 12px;
      text-decoration: line-through; }
    .goods-products .products-box-wrapper .box-item .item-inner .actual .actual-price {
      font-size: 16px;
      color: #ea4334; }
    .goods-products .products-box-wrapper .box-item .item-inner .stock-number {
      color: #999;
      line-height: 20px; }

/*
 * $swipper-w : 1920px;
 * $swipper-h : 375px;
 * $main-color : #27ae60;
 * $auxiliary-color : #2d2f31;
 * $screen-md-max : 1199px;
 * $screen-sm-max : 991px;
 * $screen-xs-max : 767px;
 * #buy-color : #dcdcdc;
 */
.swiper-container {
  max-width: 100%;
  overflow: hidden;
  height: 550px;
  background: #f6f6f6; }
  @media (max-width: 1299px) {
    .swiper-container {
      height: 419.69231px; } }
  @media (max-width: 991px) {
    .swiper-container {
      height: 324.92308px; } }
  @media (max-width: 767px) {
    .swiper-container {
      height: 135.38462px; } }
  .swiper-container a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .swiper-container a .noactive {
      cursor: default; }
  .swiper-container img {
    position: absolute;
    margin-left: 50%;
    height: 100%;
    left: -960px; }
    @media (max-width: 1299px) {
      .swiper-container img {
        left: -732.55385px; } }
    @media (max-width: 991px) {
      .swiper-container img {
        left: -567.13846px; } }
    @media (max-width: 767px) {
      .swiper-container img {
        left: -236.30769px; } }
  @media (max-width: 480px) {
    .swiper-container .swiper-pagination {
      display: none; } }
  .swiper-container .swiper-pagination-bullet {
    width: 22px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #d2d2d2;
    opacity: 1;
    transition: all 200ms; }
  .swiper-container .swiper-pagination-bullet-active {
    background-color: #21a5ae;
    position: relative;
    transform: rotate(180deg); }
    .swiper-container .swiper-pagination-bullet-active:after {
      position: absolute;
      background-color: #197c83;
      -webkit-border-radius: 0 10px 10px 0;
      -moz-border-radius: 0 10px 10px 0;
      border-radius: 0 10px 10px 0;
      width: 55%;
      height: 10px;
      content: '';
      overflow: hidden;
      right: 0; }
  .swiper-container .swiper-button-prev {
    width: 80px;
    background-image: url("/Themes/Store/Content/img/swiper-button-prev.svg"); }
    @media (max-width: 767px) {
      .swiper-container .swiper-button-prev {
        display: none; } }
  .swiper-container .swiper-button-next {
    width: 80px;
    background-image: url("/Themes/Store/Content/img/swiper-button-next.svg"); }
    @media (max-width: 767px) {
      .swiper-container .swiper-button-next {
        display: none; } }

.main-content-wrapper {
  margin-bottom: 4px; }
  .main-content-wrapper .content-goods {
    overflow: hidden; }

.goods-company .company-name {
  font-size: 26px;
  color: #000;
  margin-top: 25px;
  text-align: center; }

.goods-company .company-text {
  font-size: 14px;
  text-align: justify; }

@media (max-width: 767px) {
  .goods-catalogs {
    text-align: center; } }

.goods-catalogs .catalogs-title {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding: 8px 0;
  border-bottom: 1px dashed #2d2f31;
  margin-bottom: 10px; }

.goods-catalogs .catalogs-box-wrapper {
  position: relative;
  background: #f0f0f0;
  margin-bottom: 30px; }
  .goods-catalogs .catalogs-box-wrapper:after, .goods-catalogs .catalogs-box-wrapper:before {
    display: block;
    position: absolute;
    content: '';
    left: 2%;
    top: 100%;
    margin-top: -38px;
    width: 48%;
    height: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.6);
    transform-origin: 100% 100%;
    transform: rotate(-2deg);
    z-index: -1; }
  .goods-catalogs .catalogs-box-wrapper:after {
    right: 2%;
    left: auto;
    transform-origin: 0 100%;
    transform: rotate(2deg); }
  @media (max-width: 991px) {
    .goods-catalogs .catalogs-box-wrapper {
      margin-bottom: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
      .goods-catalogs .catalogs-box-wrapper:before, .goods-catalogs .catalogs-box-wrapper:after {
        display: none; } }
  .goods-catalogs .catalogs-box-wrapper .row {
    padding-bottom: 2px;
    /*background: url(../../img/shadow.png) no-repeat center bottom;*/ }
  .goods-catalogs .catalogs-box-wrapper .mycol {
    padding: 2px;
    /*@media (max-width: 768px) and (min-width: 530px) {
                width: 252px;
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
            }*/ }
  .goods-catalogs .catalogs-box-wrapper .box-item {
    overflow: hidden;
    border-radius: 2px; }
    .goods-catalogs .catalogs-box-wrapper .box-item .item-container {
      display: block;
      width: 100%;
      height: 100%; }
    .goods-catalogs .catalogs-box-wrapper .box-item .item-pic {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 58%; }
      .goods-catalogs .catalogs-box-wrapper .box-item .item-pic img {
        width: 100%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        transition: all 0.5s; }
        .goods-catalogs .catalogs-box-wrapper .box-item .item-pic img:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2); }
    .goods-catalogs .catalogs-box-wrapper .box-item .item-title {
      position: absolute;
      bottom: 2px;
      left: 2px;
      right: 2px;
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      padding: 5px 0;
      line-height: 20px;
      text-align: left;
      color: #fff;
      font-size: 14px;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.main-news-wrapper .mycol {
  margin-bottom: 10px; }

.main-news-wrapper .main-title {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  padding: 8px 0;
  border-bottom: 1px dashed #2d2f31;
  margin-bottom: 10px;
  text-align: center; }

.main-news-wrapper .new-date {
  text-align: right;
  font-style: italic;
  color: #999; }

.main-news-wrapper .news-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff;
  padding: 10px; }
  @media (max-width: 767px) {
    .main-news-wrapper .news-box {
      margin-bottom: 10px; } }

.main-news-wrapper .news-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #333;
  display: block;
  padding: 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.main-news-wrapper .news-picture {
  padding: 5px;
  margin: 5px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15); }
  .main-news-wrapper .news-picture > img {
    width: 100%;
    height: 100%; }

.main-news-wrapper .news-inner {
  font-size: 14px;
  line-height: 20px;
  height: 80px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden; }
