@import "../bootstrap/bootstrap/mixins";
@import "../bootstrap/bootstrap/variables";
@import "../extend/variable";
@import "../extend/shop";
@import "../extend/crumbs";
@import "../extend/pageTitle";
$product-height:145px;

//goods-introduce
.goods-introduce {
    .introduce-name {
        font-size: 24px;
        color: #000;
        margin-top: 10px;

        @media(max-width:$screen-sm-max) {
            text-align: center;
        }
    }

    .introduce-text {
        font-size: 14px;
    }
}

.goods-catalogs {
    @media (max-width: $screen-xs-max) {
        text-align: center;
    }     
    .catalogs-title {
        display: block;
        font-weight: 300;
        font-size: $fs-content-goods-catalogs-title;
        line-height: 32px;
        padding: 8px 0;
        border-bottom: 1px dashed $auxiliary-color;
        margin-bottom: $mb-content-goods-catalogs-title;
    }

    .catalogs-box-wrapper {
        position: relative;
        background: #f0f0f0;
        margin-bottom: 30px;

        &:after,
        &:before {
            display: block;
            position: absolute;
            content: '';
            left: 2%;
            top: 100%;
            margin-top: -38px;
            width: 48%;
            height: 20px;
            box-shadow: 0 0 20px 10px rgba(0,0,0,.6);
            transform-origin: 100% 100%;
            transform: rotate(-2deg);
            z-index: -1;
        }

        &:after {
            right: 2%;
            left: auto;
            transform-origin: 0 100%;
            transform: rotate(2deg);
        }

        @media(max-width:$screen-sm-max) {
            margin-bottom: 20px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);

            &:before, &:after {
                display: none;
            }
        }

        .row {
            padding-bottom: 2px;
            /*background: url(../../img/shadow.png) no-repeat center bottom;*/
        }

        .mycol {
            padding: 2px;

            /*@media (max-width: 768px) and (min-width: 530px) {
                width: 252px;
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
            }*/
        }

        .box-item {
            overflow: hidden;
            border-radius: 2px;

            .item-container {
                display: block;
                width: 100%;
                height: 100%;
            }

            .item-pic {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 58%;

                img {
                    width: 100%;
                    @include scale(1);
                    transition: all 0.5s;

                    &:hover {
                        @include scale(1.2);
                    }
                }
            }

            .item-title {
                position: absolute;
                bottom: 2px;
                left: 2px;
                right: 2px;
                margin: 0;
                font-size: 18px;
                font-weight: 700;
                padding: 5px 0;
                line-height: 20px;
                text-align: left;
                color: #fff;
                font-size: 14px;
                background: rgba(0,0,0,0.5);
                text-align: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

//goods-shopping-wrapper
.goods-shopping-wrapper {
    .mycol {
        margin-bottom: 10px;

        @media(max-width:$screen-sm-max) and (min-width:$screen-sm-min) {
            width: 33%;
        }

        @media (max-width:$screen-sm-max) and (min-width:$screen-md-min) {
            width: 252px;
            position: relative;
            left: 50%;
            @include translateX(-100%);
        }

        @media(max-width:$screen-md-max) {
            padding: 0 6px 6px;
            margin-bottom: 0;
        }
    }

    .row {
        @media(max-width:$screen-md-max) {
            margin: 0 -5px;
        }
    }

    .col-md-2 {
        @media(max-width:$screen-md-max) {
            width: 20%;
        }

        .shopping-picture {
            border-radius: 2px;
        }

        @media(max-width:$screen-md-min) {
            width: 100%;
        }
    }

    .col-md-10 {

        @media(max-width:$screen-md-max) {
            width: 80%;
        }

        .shopping-infomation-container {
            border-radius: 2px;
        }

        @media(max-width:$screen-md-min) {
            width: 100%;
        }

        &:after {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -10px;
            left: -15px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent $b-goods-shopping-bg transparent transparent;

            @media(max-width:$screen-md-min) {
                border-width: 0;
            }
        }
    }

    .shopping-picture {
        width: $product-height;
        display: inline-block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 0 1px $b-goods-shopping-bg;
        @include image-box($product-height,$product-height);

        @media(max-width:$screen-md-min) {
            width: 100%;
            padding-bottom: 100%;
        }
    }

    .shopping-infomation-container {
        background-color: $b-goods-shopping-bg;
        min-height: $product-height;

        @media(max-width:$screen-md-max) {
            min-height: 0;
            @include border-bottom-radius($border-radius-base);
        }
    }

    .shopping-infomation-details {
        /*@media(max-width:$screen-md-min) {
            width: 100%;
        }*/
        .infomation-title {
            display: block;
            margin: 6px 0 6px;
            font-size: 18px;
            color: $main-color;
            padding: 0 10px;
            overflow: hidden;
            font-weight: normal;
            text-align: left;
            display: block;

            @media(max-width:$screen-sm-max) {
                font-size: 16px;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                height: 2.8em;
                margin: 6px 0 0;
            }

            @media(max-width:$screen-xs-max) {
                font-size: 14px;
                margin-bottom: 0;
            }
        }

        .infomation-text {
            width: 68%;
            float: left;
            margin-bottom: 10px;
            height: $line-height-computed * 3;
            line-height: $line-height-base;
            padding-left: 10px;
            font-size: 14px;
            color: $c-shopping-infomation-text;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            @media(max-width:$screen-md-min) {
                display: none;
            }
        }
    }

    .shopping-infomation-price {
        width: 30%;
        float: right;

        @media(max-width:$screen-sm-max) {
            width: 100%;
            text-align: center;
        }



        .old-price {
            font-size: 20px;
            color: $main-color;
        }

        .actual-price {
            font-size: 20px;
            color: $c-shopping-infomation-actual-price;
        }

        .price-pangv {
            font-size: 14px;
            color: $gray-dark;
            display: block;

            @media(max-width:$screen-sm-max) {
                display: none;
            }
        }

        .actual {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .old-price {
                font-size: 14px;
                text-decoration: line-through;
            }
        }
    }

    .infomation-btn {
        padding: 0 10px;
        float: left;
        clear: both;

        @media(max-width:$screen-sm-max) {
            text-align: center;
            padding: 0;
            display: table;
            width: 100%;
        }

        .btn-buy {
            padding: 0 20px;
            margin-bottom: 5px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            display: inline-block;
            color: #fff;
            min-width: 140px;
            text-align: center;
            background-color: $main-color;
            border-radius: $border-radius-base;
            /*box-shadow: inset 0 -20px 20px -10px rgba(0,0,0,.15);*/
            &.outsotck {
                background-color: #999;
            }

            &:hover {
                box-shadow: inset 0 -20px 20px -10px rgba(0,0,0,.15);
            }

            @media(min-width:$screen-md-min) {
                margin-right: 4px;
            }

            @media(max-width:$screen-sm-max) {
                display: table-cell;
                border-right: 1px solid $b-goods-shopping-bg;
                min-width: 0;
                width: 50%;

                &:last-child {
                    border: none;
                }

                .btn-txt {
                    display: none;
                }
            }
        }


        .iconfont {
            padding-right: 5px;

            @media(max-width:$screen-md-min) {
                padding-left: 0;
            }
        }
    }
}
.product-rating-box {
    margin: (24px - 14px) / 2 0;
    width: 19px * 5;
    height: 14px;
    background: url(/Themes/Store/Content/images/rating1.png) repeat-x 0 50%;

    .rating {
        background: url(/Themes/Store/Content/images/rating2.png) repeat-x 0 50%;
        height: 100%;
    }
}
.pager {
    margin: 10px 0 5px;

    li {
        > a, > span {
            line-height: $pager-height - 2px;
            padding: 0 15px;
            min-width: $pager-height*2;
            border-radius: $pager-height;
        }

        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}