

@{
    Html.AddScriptParts(ResourceLocation.Foot, "~/Themes/Ipharmachine/Content/js/pages/euCookieLaw.js");
}
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        <div class="text">@T("EUCookieLaw.Description2")</div>
        <div class="buttons-more">
            <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("Common.OK")</button>
            <a class="learn-more" href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("privacyinfo") })">@T("EUCookieLaw.LearnMore")</a>
        </div>
    </div>
</div>