@font-face {
  font-family: "machine_icon";
  src: url("iconfont.eot?t=19091801");
  /* IE9*/
  src: url("iconfont.eot?t=19091801#iefix") format("embedded-opentype"), url("iconfont.woff2?t=19091801") format("woff2"), url("iconfont.woff?t=19091801") format("woff"), url("iconfont.ttf?t=19091801") format("truetype"), url("iconfont.svg?t=19091801#font_family") format("svg");
  /* iOS 4.1- */ }

.icon_contactus:before {
  font-family: "contact_us" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*�¼���ϵ����*/
/*��*/
.icon_contactus-shouji-banping:before {
  content: "\e631";
  font-size: 30px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_contactus-youjian01:before {
  content: "\e6ab";
  font-size: 30px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_contactus-dianhua02:before {
  content: "\e681";
  font-size: 30px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_contactus-skype1:before {
  content: "\e6fc";
  font-size: 30px;
  -webkit-text-fill-color: #D9D9D9; }

/*��*/
.icon_contactus-network:before {
  content: "\e662";
  font-size: 30px; }

.icon_contactus-youjian03:before {
  content: "\e6ab";
  font-size: 30px; }

.icon_contactus-skype3:before {
  content: "\e6fc";
  font-size: 30px; }

.icon_contactus-test:before {
  content: "\e6df";
  font-size: 30px; }

/*��*/
.icon_contactus-youjian-blue:before {
  content: "\e668";
  font-size: 30px;
  -webkit-text-fill-color: #002667; }

.icon_contactus-youjian-red:before {
  content: "\e668";
  font-size: 30px;
  -webkit-text-fill-color: #C8301B; }

.icon_contactus-dianhua-blue:before {
  content: "\e624";
  font-size: 30px;
  -webkit-text-fill-color: #002667; }

.icon_contactus-dianhua-red:before {
  content: "\e624";
  font-size: 30px;
  -webkit-text-fill-color: #C8301B; }

.icon_contactus-weizhi-red:before {
  content: "\e788";
  font-size: 30px;
  -webkit-text-fill-color: #C8301B; }

.icon_contactus-weizhi-blue:before {
  content: "\e788";
  font-size: 30px;
  -webkit-text-fill-color: #002667; }

.icon_contactus_youjian_left:before {
  content: "\e6ab";
  -webkit-text-fill-color: #D9D9D9;
  font-size: 25px; }

.icon_contactus_skype_left:before {
  content: "\e6fc";
  font-size: 23px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_contactus_network_left:before {
  content: "\e662";
  font-size: 25px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_contactus_test_left:before {
  content: "\e6df";
  font-size: 24px;
  -webkit-text-fill-color: #D9D9D9; }

.icon_machine:before {
  font-family: "machine_icon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 22px; }

.pc-navigation-linkage .icon_machine:before {
  font-size: 28px;
  line-height: 28px; }

.icon_machine-contact:before {
  content: "\e605"; }

.icon_machine-60:before {
  content: "\e606"; }

.icon_machine-59:before {
  content: "\e607"; }

.icon_machine-48:before {
  content: "\e608"; }

.icon_machine-69:before {
  content: "\e609"; }

.icon_machine-76:before {
  content: "\e60a"; }

.icon_machine-53:before {
  content: "\e60b"; }

.icon_machine-90:before {
  content: "\e60c"; }

.icon_machine-77:before {
  content: "\e60d"; }

.icon_machine-89:before {
  content: "\e60e"; }

.icon_machine-73:before {
  content: "\e60f"; }

.icon_machine-91:before {
  content: "\e610"; }

.icon_machine-47:before {
  content: "\e611"; }

.icon_machine-50:before {
  content: "\e612"; }

.icon_machine-52:before {
  content: "\e613"; }

.icon_machine-88:before {
  content: "\e614"; }

.icon_machine-71:before {
  content: "\e615"; }

.icon_machine-78:before {
  content: "\e616"; }

.icon_machine-75:before {
  content: "\e617"; }

.icon_machine-72:before {
  content: "\e618"; }

.icon_machine-74:before {
  content: "\e619"; }

.icon_machine-home:before {
  content: "\e61a"; }

.icon_machine-80:before {
  content: "\e61b"; }

.icon_machine-51:before {
  content: "\e61c"; }

.icon_machine-liquid-filler:before {
  content: "\e61d"; }

.icon_machine-49:before {
  content: "\e61e"; }

.icon_machine-93:before {
  content: "\e61f"; }

.icon_machine-111:before {
  content: "\e620"; }

.icon_machine-70:before {
  content: "\e621"; }

.icon_machine-112:before {
  content: "\e600"; }
