@model TopicModel
@using Nop.Core.Domain.Seo
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Topics;
@{
    var isPopup = ViewBag.IsPopup;
    if (isPopup == null || isPopup == false)
    {
        Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    }

    if (!Model.IsPasswordProtected)
    {
        //title
        Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
        //meta
        Html.AddMetaDescriptionParts(Model.MetaDescription);
        Html.AddMetaKeywordParts(Model.MetaKeywords);
    }

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var topicUrl = Url.RouteUrl("Topic", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(topicUrl);
    }
    Html.AddCssFileParts("~/Themes/Ipharmachine/Content/css/pages/articleDetailsSwiper.css");
    Html.AppendScriptParts(ResourceLocation.Foot, "~/Themes/Ipharmachine/Content/js/pages/articleDetailsSwiper.js");


    //page class
    Html.AppendPageCssClassParts("html-topic-page");
}



    <div class="article-details">
        <h1 class="topic-title">@Model.Title</h1>
    </div>
    <div class="article-content container">
        <div class="article-body">
            @Html.Raw(Model.Body)
        </div>
    </div>