@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.eot?t=1516668120691'); /* IE9*/
    src: url('fonts/iconfont.eot?t=1516668120691#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/iconfont.woff?t=1516668120691') format('woff'), url('fonts/iconfont.ttf?t=1516668120691') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('fonts/iconfont.svg?t=1516668120691#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gouwucheman:before {
    content: "\e600";
}

.icon-wangluodianhuaskype3:before {
    content: "\e65a";
}

.icon-zhucezhuanhuan-copy:before {
    content: "\e63e";
}

.icon-ccgl-xiangmuguanli-:before {
    content: "\e684";
}

.icon-left-angle:before {
    content: "\e628";
}

.icon-back:before {
    content: "\e636";
}

.icon-dianhua:before {
    content: "\e671";
}

.icon-icondel:before {
    content: "\e622";
}

.icon-fanhuidingbu:before {
    content: "\e64a";
}

.icon-xinyuandan:before {
    content: "\e64c";
}

.icon-a526:before {
    content: "\e63d";
}

.icon-jian:before {
    content: "\e633";
}

.icon-dingyue:before {
    content: "\e6ae";
}

.icon-yonghu:before {
    content: "\e637";
}

.icon-jia:before {
    content: "\e6a9";
}

.icon-tuichu:before {
    content: "\e62e";
}

.icon-youxiang:before {
    content: "\e60f";
}

.icon-sousuo:before {
    content: "\e631";
}

.icon-phone:before {
    content: "\e678";
}
