@charset "UTF-8";
/*
 *  b- 为background
 *  c- 为color
 *  bo- 为border-color
 *  r- 为  rotate
 *  br- 为 border-radius
 *  bx- 为 box-shadow
 *  mb- 为 margin-bottom
 *  fs- 为 font-size
 * */
/*
 * login
 * register
 * giveme
 * my系列
 * l-s
 */
/*$ribbon-bckaground-color: rgba(231, 76, 60, 1);
$ribbon-color: #fff;
$ribbon-line-height: 2.4;

$ribbon-padding: 0 1.6em;
$item-ribbon-line-height: 30px;
$item-ribbon-w: $item-ribbon-line-height * 4;*/
.account-number .account-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1; }
  @media (max-width: 991px) {
    .account-number .account-title {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .account-number .account-title {
      font-size: 20px; } }

@media (max-width: 991px) {
  .account-number .row {
    margin: 0 -10px; } }

.account-number .mycol {
  padding: 5px;
  text-align: center; }

.account-number .box-title {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0; }
  @media (max-width: 767px) {
    .account-number .box-title {
      font-size: 18px; } }

.account-number .form-container {
  background-color: #fff;
  padding: 30px 0 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }

@media (max-width: 767px) {
  .account-number .form-group {
    padding: 0 8px; } }

.account-number .form-group .control-label {
  font-size: 14px; }

.account-number .form-group .radio-inner {
  font-size: 14px;
  text-align: left; }
  @media (max-width: 767px) {
    .account-number .form-group .radio-inner {
      text-align: center; } }

.account-number .form-group .checkbox {
  font-size: 14px; }

.account-number .form-group .inputs {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .account-number .form-group .inputs:focus {
    outline: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .account-number .form-group .inputs {
      text-align: center; } }

.account-number .form-group .selects {
  width: 30%;
  display: inline-block;
  float: left; }
  .account-number .form-group .selects + .selects {
    margin-left: 5%; }

.account-number .form-group input[type="checkbox"] {
  margin-left: 0; }

.account-number .buttons {
  min-width: 140px;
  padding: 0 20px;
  height: 35px;
  line-height: 17px;
  display: block;
  margin: 20px auto;
  background-color: #27ae60;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px; }
  .account-number .buttons:hover {
    background-color: rgba(39, 174, 96, 0.7); }

.account-number .error, .account-number .required {
  color: #ea4334;
  text-align: center; }

.account-number .border-error {
  border: 1px solid #ea4334; }

.order-list .section, .order-list .review-item-head, .address-list .section, .address-list .review-item-head, .product-review-item .section, .product-review-item .review-item-head, .reward-points-history .section, .reward-points-history .review-item-head, .page-body .section, .page-body .review-item-head {
  position: relative; }

.order-list .product-review-box, .address-list .product-review-box, .product-review-item .product-review-box, .reward-points-history .product-review-box, .page-body .product-review-box {
  position: absolute;
  right: 0;
  top: 0;
  width: 95px;
  height: 14px;
  margin: 11px;
  background: url(/Themes/Store/Content/images/rating1.png) repeat-x 0 50%; }
  .order-list .product-review-box .rating, .address-list .product-review-box .rating, .product-review-item .product-review-box .rating, .reward-points-history .product-review-box .rating, .page-body .product-review-box .rating {
    background: url(/Themes/Store/Content/images/rating2.png) repeat-x 0 50%;
    height: 100%; }

.order-list .title, .order-list .review-item-head, .address-list .title, .address-list .review-item-head, .product-review-item .title, .product-review-item .review-item-head, .reward-points-history .title, .reward-points-history .review-item-head, .page-body .title, .page-body .review-item-head {
  font-size: 18px;
  line-height: 2em;
  text-indent: 11px; }

.order-list .name, .address-list .name, .product-review-item .name, .reward-points-history .name, .page-body .name {
  display: none; }

.order-list .review-content, .order-list .info, .order-list .details, .address-list .review-content, .address-list .info, .address-list .details, .product-review-item .review-content, .product-review-item .info, .product-review-item .details, .reward-points-history .review-content, .reward-points-history .info, .reward-points-history .details, .page-body .review-content, .page-body .info, .page-body .details {
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff;
  padding: 10px;
  list-style: none;
  font-size: 14px;
  line-height: 1.6em; }

.order-list .review-text, .address-list .review-text, .product-review-item .review-text, .reward-points-history .review-text, .page-body .review-text {
  max-width: 600px; }

.order-list .comms, .address-list .comms, .product-review-item .comms, .reward-points-history .comms, .page-body .comms {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px; }
  .order-list .comms input, .address-list .comms input, .product-review-item .comms input, .reward-points-history .comms input, .page-body .comms input {
    display: inline-block;
    margin: 8px 0 0 10px;
    border: none;
    padding: 0 0 0 18px;
    font-size: 14px;
    color: #333;
    height: 20px; }
  .order-list .comms .edit-address-button, .address-list .comms .edit-address-button, .product-review-item .comms .edit-address-button, .reward-points-history .comms .edit-address-button, .page-body .comms .edit-address-button {
    background: url(/Themes/Store/Content/images/edit.png) left center no-repeat; }
  .order-list .comms .delete-address-button, .address-list .comms .delete-address-button, .product-review-item .comms .delete-address-button, .reward-points-history .comms .delete-address-button, .page-body .comms .delete-address-button {
    background: url(/Themes/Store/Content/images/remove.png) left center no-repeat; }
  .order-list .comms .return-items-button, .address-list .comms .return-items-button, .product-review-item .comms .return-items-button, .reward-points-history .comms .return-items-button, .page-body .comms .return-items-button {
    background: url(/Themes/Store/Content/images/return.png) left center no-repeat; }
  .order-list .comms .order-details-button, .address-list .comms .order-details-button, .product-review-item .comms .order-details-button, .reward-points-history .comms .order-details-button, .page-body .comms .order-details-button {
    background: url(/Themes/Store/Content/images/details.png) left center no-repeat; }

.table-containter {
  font-size: 14px; }
  .table-containter th {
    text-align: center; }
  .table-containter .product {
    text-align: left; }
  .table-containter .unit-price, .table-containter .quantity {
    width: 120px; }
    @media (max-width: 767px) {
      .table-containter .unit-price, .table-containter .quantity {
        width: 80px; } }

.result, .no-data, .reward-points-overview, .description {
  font-size: 14px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background: #fff;
  padding: 10px; }

.pager {
  margin: 10px 0 5px; }
  .pager li {
    margin-right: 10px; }
    .pager li > a, .pager li > span {
      line-height: 26px;
      padding: 0 15px;
      min-width: 56px;
      border-radius: 28px; }
    .pager li:last-child {
      margin-right: 0; }
