@charset "UTF-8";
/*
 *  b- 为background
 *  c- 为color
 *  bo- 为border-color
 *  r- 为  rotate
 *  br- 为 border-radius
 *  bx- 为 box-shadow
 *  mb- 为 margin-bottom
 *  fs- 为 font-size
 * */
/*
 * login
 * register
 * giveme
 * my系列
 * l-s
 */
/*$ribbon-bckaground-color: rgba(231, 76, 60, 1);
$ribbon-color: #fff;
$ribbon-line-height: 2.4;

$ribbon-padding: 0 1.6em;
$item-ribbon-line-height: 30px;
$item-ribbon-w: $item-ribbon-line-height * 4;*/
.left-title {
  font-size: 20px;
  padding-bottom: 10px;
  display: block;
  color: #333; }
  @media (max-width: 992px) {
    .left-title {
      text-align: center; } }

.product-toggle {
  position: relative;
  margin-bottom: 10px;
  border-radius: 2px;
  overflow: hidden; }
  @media (max-width: 992px) {
    .product-toggle {
      width: 310px;
      margin: 0 auto; } }
  .product-toggle .toggle-title {
    background-color: #22a86c;
    color: #fff;
    height: 30px;
    line-height: 30px;
    padding-left: 24px;
    font-weight: normal; }
  .product-toggle .toggle-strong {
    font-weight: normal;
    font-size: 14px; }
    .product-toggle .toggle-strong a {
      color: inherit; }
  .product-toggle .iconfont {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #19764c; }
  .product-toggle .toggle-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: none;
    background-color: #2d2f31; }
    .product-toggle .toggle-list > li {
      height: 40px;
      line-height: 40px;
      color: #2d2f31;
      border-bottom: 1px solid #3a3c3e; }
      .product-toggle .toggle-list > li:last-child {
        border-bottom: none; }
      .product-toggle .toggle-list > li > a {
        display: block;
        padding-left: 24px;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #ccc;
        transition: all 0.2s; }
      .product-toggle .toggle-list > li.active a,
      .product-toggle .toggle-list > li a:hover {
        color: #fff;
        text-indent: 2px; }
  .product-toggle .toggle-list-line {
    list-style: none;
    padding-left: 0;
    padding: 5px 10px;
    display: none;
    margin: 0;
    background-color: #2d2f31; }
    .product-toggle .toggle-list-line > li {
      display: inline;
      padding: 0 5px; }
      .product-toggle .toggle-list-line > li a {
        cursor: pointer;
        color: #ccc;
        transition: all 0.2s; }
      .product-toggle .toggle-list-line > li.active a,
      .product-toggle .toggle-list-line > li a:hover {
        color: #fff; }

.my {
  margin: 20px 0 10px;
  overflow: hidden; }
  .my .col-md-2 {
    width: 21%; }
    @media (max-width: 992px) {
      .my .col-md-2 {
        width: 100%; } }
  .my .col-md-10 {
    width: 78%; }
    @media (max-width: 992px) {
      .my .col-md-10 {
        width: 100%; } }
    @media (max-width: 992px) {
      .my .col-md-10 .account-number {
        margin-left: -5px;
        margin-right: -5px; }
        .my .col-md-10 .account-number .row {
          margin: 0 -5px; } }
    .my .col-md-10 .account-title {
      text-align: left;
      font-size: 24px;
      margin: 0; }
      @media (max-width: 992px) {
        .my .col-md-10 .account-title {
          text-align: center;
          margin: 10px 0; } }
      @media (max-width: 991px) {
        .my .col-md-10 .account-title {
          font-size: 24px; } }
      @media (max-width: 767px) {
        .my .col-md-10 .account-title {
          font-size: 20px; } }
    .my .col-md-10 .selects {
      width: 29.9% !important; }

@media (max-width: 768px) and (min-width: 530px) {
  .myOrderList .mycol {
    width: 252px;
    position: relative;
    left: 50%;
    margin-bottom: 2px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }

.account-title {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px; }

.order-list {
  text-align: left;
  font-size: 14px; }
  .order-list .order-item {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    margin-top: 8px; }
    .order-list .order-item .item-title {
      font-size: 18px;
      margin: 0 0 5px;
      font-weight: 300; }
      @media (max-width: 1199px) {
        .order-list .order-item .item-title {
          font-size: 15px; } }
    .order-list .order-item .item-info {
      list-style: none;
      padding-left: 0;
      line-height: 20px; }
    .order-list .order-item .info-buttons input[type="button"] {
      display: inline-block;
      padding: 5px 10px;
      margin-right: 3px;
      background-color: #dcdcdc;
      border: 1px solid #d3d3d3;
      border-top: 0;
      transition: all .2s ease-in-out; }
      .order-list .order-item .info-buttons input[type="button"]:hover, .order-list .order-item .info-buttons input[type="button"]:focus {
        outline: none;
        opacity: .8; }
