@charset "UTF-8";
/*
 *  b- 为background
 *  c- 为color
 *  bo- 为border-color
 *  r- 为  rotate
 *  br- 为 border-radius
 *  bx- 为 box-shadow
 *  mb- 为 margin-bottom
 *  fs- 为 font-size
 * */
/*
 * login
 * register
 * giveme
 * my系列
 * l-s
 */
/*$ribbon-bckaground-color: rgba(231, 76, 60, 1);
$ribbon-color: #fff;
$ribbon-line-height: 2.4;

$ribbon-padding: 0 1.6em;
$item-ribbon-line-height: 30px;
$item-ribbon-w: $item-ribbon-line-height * 4;*/
.account-number .account-title {
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1; }
  @media (max-width: 991px) {
    .account-number .account-title {
      font-size: 24px; } }
  @media (max-width: 767px) {
    .account-number .account-title {
      font-size: 20px; } }
@media (max-width: 991px) {
  .account-number .row {
    margin: 0 -10px; } }
.account-number .mycol {
  padding: 5px;
  text-align: center; }
.account-number .box-title {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 15px 0; }
  @media (max-width: 767px) {
    .account-number .box-title {
      font-size: 18px; } }
.account-number .form-container {
  background-color: #fff;
  padding: 30px 0 25px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px; }
@media (max-width: 767px) {
  .account-number .form-group {
    padding: 0 8px; } }
.account-number .form-group .control-label {
  font-size: 14px; }
.account-number .form-group .radio-inner {
  font-size: 14px;
  text-align: left; }
  @media (max-width: 767px) {
    .account-number .form-group .radio-inner {
      text-align: center; } }
.account-number .form-group .checkbox {
  font-size: 14px; }
.account-number .form-group .inputs {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
  .account-number .form-group .inputs:focus {
    outline: none;
    box-shadow: none; }
  @media (max-width: 767px) {
    .account-number .form-group .inputs {
      text-align: center; } }
.account-number .form-group .selects {
  width: 30%;
  display: inline-block;
  float: left; }
  .account-number .form-group .selects + .selects {
    margin-left: 5%; }
.account-number .form-group input[type="checkbox"] {
  margin-left: 0; }
.account-number .buttons {
  min-width: 140px;
  padding: 0 20px;
  height: 35px;
  line-height: 17px;
  display: block;
  margin: 20px auto;
  background-color: #27ae60;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px; }
  .account-number .buttons:hover {
    background-color: rgba(39, 174, 96, 0.7); }
.account-number .error, .account-number .required {
  color: #ea4334;
  text-align: center; }
.account-number .border-error {
  border: 1px solid #ea4334; }
