@{
    var dr = new Dictionary<string, string>{
    {"Dateline Standard Time", "(UTC-12:00) International Date Line West"},
    {"UTC-11", "(UTC-11:00) Coordinated Universal Time-11"},
    {"Hawaiian Standard Time", "(UTC-10:00) Hawaii"},
    {"Aleutian Standard Time", "(UTC-10:00) Aleutian Islands"},
    {"Marquesas Standard Time", "(UTC-09:30) Marquesas Islands"},
    {"UTC-09", "(UTC-09:00) Coordinated Universal Time-09"},
    {"Alaskan Standard Time", "(UTC-09:00) Alaska"},
    {"Pacific Standard Time (Mexico)", "(UTC-08:00) Tijuana, Baja California"},
    {"UTC-08", "(UTC-08:00) Coordinated Universal Time-08"},
    {"Pacific Standard Time", "(UTC-08:00) Pacific Time (US and Canada)"},
    {"US Mountain Standard Time", "(UTC-07:00) Arizona"},
    {"Mountain Standard Time (Mexico)", "(UTC-07:00) Chihuahua, La Paz, Mazatlan"},
    {"Mountain Standard Time", "(UTC-07:00) Mountain Time (US and Canada)"},
    {"Central America Standard Time", "(UTC-06:00) Central America"},
    {"Central Standard Time", "(UTC-06:00) (GMT-06:00) Central Time (US and Canada)"},
    {"Easter Island Standard Time", "(UTC-06:00) Easter Island"},
    {"Central Standard Time (Mexico)", "(UTC-06:00) Guadalajara, Mexico City, Monterrey"},
    {"Canada Central Standard Time", "(UTC-06:00) Saskatchewan"},
    {"Eastern Standard Time", "(UTC-05:00) Eastern Time (US and Canada)"},
    {"Eastern Standard Time (Mexico)", "(UTC-05:00) Chetumal"},
    {"US Eastern Standard Time", "(UTC-05:00) Indiana (East)"},
    {"Cuba Standard Time", "(UTC-05:00) Havana"},
    {"SA Pacific Standard Time", "(UTC-05:00) Bogota, Lima, Quito"},
    {"Haiti Standard Time", "(UTC-05:00) Haiti"},
    {"Turks And Caicos Standard Time", "(UTC-05:00) Turks and Caicos Islands"},
    {"SA Western Standard Time", "(UTC-04:00) Georgetown, La Paz, Manaus, San Juan"},
    {"Paraguay Standard Time", "(UTC-04:00) Asuncion"},
    {"Venezuela Standard Time", "(UTC-04:00) Caracas"},
    {"Pacific SA Standard Time", "(UTC-04:00) Santiago"},
    {"Atlantic Standard Time", "(UTC-04:00) Atlantic Time (Canada)"},
    {"Central Brazilian Standard Time", "(UTC-04:00) Manaus"},
    {"Newfoundland Standard Time", "(UTC-03:30) Newfoundland"},
    {"SA Eastern Standard Time", "(UTC-03:00) Cayenne，Fortaleza"},
    {"Saint Pierre Standard Time", "(UTC-03:00) Saint Pierre and Miquelon"},
    {"E. South America Standard Time", "(UTC-03:00) Brasilia"},
    {"Argentina Standard Time", "(UTC-03:00) Buenos Aires"},
    {"Greenland Standard Time", "(UTC-03:00) Greenland"},
    {"Bahia Standard Time", "(UTC-03:00) El Salvador"},
    {"Montevideo Standard Time", "(UTC-03:00) Montevideo"},
    {"Magallanes Standard Time", "(UTC-03:00) Punta Arenas"},
    {"Tocantins Standard Time", "(UTC-03:00) Araguaína"},
    {"Mid-Atlantic Standard Time", "(UTC-02:00) Mid-Atlantic"},
    {"UTC-02", "(UTC-02:00) Coordinated Universal Time-02"},
    {"Azores Standard Time", "(UTC-01:00) Azores"},
    {"Cape Verde Standard Time", "(UTC-01:00) Cape Verde Islands"},
    {"UTC", "(UTC) Coordinated Universal Time"},
    {"Morocco Standard Time", "(UTC+00:00) Casablanca"},
    {"Greenwich Standard Time", "(UTC+00:00) Monrovia, Reykjavik"},
    {"GMT Standard Time", "(UTC+00:00) Greenwich Mean Time: Dublin, Edinburgh, Lisbon, London"},
    {"W. Central Africa Standard Time", "(UTC+01:00) West Central Africa"},
    {"Sao Tome Standard Time", "(UTC+01:00) S??o Tomé"},
    {"Romance Standard Time", "(UTC+01:00) Brussels, Copenhagen, Madrid, Paris"},
    {"Central European Standard Time", "(UTC+01:00) Sarajevo, Skopje, Warsaw, Zagreb"},
    {"Central Europe Standard Time", "(UTC+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague"},
    {"W. Europe Standard Time", "(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"},
    {"West Bank Standard Time", "(UTC+02:00) Gaza，Hebron"},
    {"Kaliningrad Standard Time", "(UTC+02:00) Kaliningrad"},
    {"South Africa Standard Time", "(UTC+02:00) Harare, Pretoria"},
    {"Sudan Standard Time", "(UTC+02:00) Khartoum"},
    {"E. Europe Standard Time", "(UTC+02:00) Minsk"},
    {"Syria Standard Time", "(UTC+02:00) Damascus"},
    {"Jordan Standard Time", "(UTC+02:00) Amman"},
    {"Egypt Standard Time", "(UTC+02:00) Cairo"},
    {"Namibia Standard Time", "(UTC+02:00) Windhoek"},
    {"Libya Standard Time", "(UTC+02:00) Tripoli"},
    {"Israel Standard Time", "(UTC+02:00) Jerusalem"},
    {"Middle East Standard Time", "(UTC+02:00) Beirut"},
    {"FLE Standard Time", "(UTC+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius"},
    {"GTB Standard Time", "(UTC+02:00) Athens, Bucharest, Istanbul"},
    {"Turkey Standard Time", "(UTC+03:00) Istanbul"},
    {"E. Africa Standard Time", "(UTC+03:00) Nairobi"},
    {"Arabic Standard Time", "(UTC+03:00) Baghdad"},
    {"Belarus Standard Time", "(UTC+03:00) Minsk"},
    {"Arab Standard Time", "(UTC+03:00) Kuwait, Riyadh"},
    {"Russian Standard Time", "(UTC+03:00) Moscow, St. Petersburg, Volgograd"},
    {"Iran Standard Time", "(UTC+03:30) Tehran"},
    {"Russia Time Zone 3", "(UTC+04:00) Izhevsk，Samara"},
    {"Caucasus Standard Time", "(UTC+04:00) Baku, Tbilisi, Yerevan"},
    {"Azerbaijan Standard Time", "(UTC+04:00) Baku"},
    {"Georgian Standard Time", "(UTC+04:00) Tbilisi"},
    {"Saratov Standard Time", "(UTC+04:00) Saratov"},
    {"Mauritius Standard Time", "(UTC+04:00) Port Louis"},
    {"Arabian Standard Time", "(UTC+04:00) Abu Dhabi, Muscat"},
    {"Astrakhan Standard Time", "(UTC+04:00) Astrakhan，Ul'yanovsk"},
    {"Afghanistan Standard Time", "(UTC+04:30) Kabul"},
    {"Pakistan Standard Time", "(UTC+05:00) Islamabad, Karachi"},
    {"Ekaterinburg Standard Time", "(UTC+05:00) Ekaterinburg"},
    {"West Asia Standard Time", "(UTC+05:00) Tashkent"},
    {"Sri Lanka Standard Time", "(UTC+05:30) Sri Jayawardenepura"},
    {"India Standard Time", "(UTC+05:30) Chennai, Kolkata, Mumbai, New Delhi"},
    {"Nepal Standard Time", "(UTC+05:45) Kathmandu"},
    {"Bangladesh Standard Time", "(UTC+06:00) Dhaka"},
    {"Omsk Standard Time", "(UTC+06:00) Omsk"},
    {"Central Asia Standard Time", "(UTC+06:00) Astana, Dhaka"},
    {"Myanmar Standard Time", "(UTC+06:30) Yangon (Rangoon)"},
    {"North Asia Standard Time", "(UTC+07:00) Krasnoyarsk"},
    {"Altai Standard Time", "(UTC+07:00) Barnaul，Gorno-Altaysk"},
    {"Tomsk Standard Time", "(UTC+07:00) Tomsk"},
    {"N. Central Asia Standard Time", "(UTC+07:00) Almaty, Novosibirsk"},
    {"SE Asia Standard Time", "(UTC+07:00) Bangkok, Hanoi, Jakarta"},
    {"W. Mongolia Standard Time", "(UTC+07:00) Khovd"},
    {"Ulaanbaatar Standard Time", "(UTC+08:00) Ulaanbaatar"},
    {"North Asia East Standard Time", "(UTC+08:00) Irkutsk, Ulaanbaatar"},
    {"China Standard Time", "(UTC+08:00) Beijing, Chongqing, Hong Kong, Urumqi"},
    {"Taipei Standard Time", "(UTC+08:00) Taipei"},
    {"Singapore Standard Time", "(UTC+08:00) Kuala Lumpur, Singapore"},
    {"W. Australia Standard Time", "(UTC+08:00) Perth"},
    {"North Korea Standard Time", "(UTC+08:30) Pyongyang"},
    {"Aus Central W. Standard Time", "(UTC+08:45) Eucla"},
    {"Tokyo Standard Time", "(UTC+09:00) Osaka, Sapporo, Tokyo"},
    {"Transbaikal Standard Time", "(UTC+09:00) Chita"},
    {"Yakutsk Standard Time", "(UTC+09:00) Yakutsk"},
    {"Korea Standard Time", "(UTC+09:00) Seoul"},
    {"AUS Central Standard Time", "(UTC+09:30) Darwin"},
    {"Cen. Australia Standard Time", "(UTC+09:30) Adelaide"},
    {"West Pacific Standard Time", "(UTC+10:00) Guam, Port Moresby"},
    {"AUS Eastern Standard Time", "(UTC+10:00) Canberra, Melbourne, Sydney"},
    {"E. Australia Standard Time", "(UTC+10:00) Brisbane"},
    {"Vladivostok Standard Time", "(UTC+10:00) Vladivostok"},
    {"Tasmania Standard Time", "(UTC+10:00) Hobart"},
    {"Lord Howe Standard Time", "(UTC+10:30) Lord Howe Island"},
    {"Russia Time Zone 10", "(UTC+11:00) Chokurdakh"},
    {"Bougainville Standard Time", "(UTC+11:00) Bougainville Island"},
    {"Central Pacific Standard Time", "(UTC+11:00) Magadan, Solomon Islands, New Caledonia"},
    {"Sakhalin Standard Time", "(UTC+11:00) Sakhalin"},
    {"Norfolk Standard Time", "(UTC+11:00) Norfolk Island"},
    {"Magadan Standard Time", "(UTC+11:00) Magadan"},
    {"UTC+12", "(UTC+12:00) Coordinated Universal Time+12"},
    {"New Zealand Standard Time", "(UTC+12:00) Auckland, Wellington"},
    {"Kamchatka Standard Time", "(UTC+12:00) Petropavlovsk-Kamchatsky"},
    {"Fiji Standard Time", "(UTC+12:00) Fiji, Kamchatka, Marshall Is."},
    {"Russia Time Zone 11", "(UTC+12:00) Anadyr，Petropavlovsk-Kamchatsky"},
    {"Chatham Islands Standard Time", "(UTC+12:45) Chatham Islands"},
    {"Tonga Standard Time", "(UTC+13:00) Nuku'alofa"},
    {"UTC+13", "(UTC+13:00) Coordinated Universal Time+13"},
    {"Samoa Standard Time", "(UTC+13:00) Midway Island, Samoa"},
    {"Line Islands Standard Time", "(UTC+14:00) Christmas Island"},

};
}
<select class="@Model.ClassName valid" id="TimeZoneId" name="TimeZoneId">
    
    @foreach (SelectListItem o in Model.AvailableTimeZones)
    {
        var hasVal = dr.ContainsKey(o.Value);
        <option value="@o.Value" @(o.Selected?"selected=\"selected\"":"")>@(hasVal?dr[o.Value]:o.Text)</option>

    }
</select>
