@model EmailRevalidationModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    Html.AppendPageCssClassParts("html-email-revalidation-page");
    Html.AddCssFileParts("~/Themes/Store/Content/css/pages/customer.css");

}

<div class="account-number">
    <h1 class="account-title">@T("Account.EmailRevalidation")</h1>
    <div class="container">
        @Model.Result
    </div>
</div>


